.no-underline{
    text-decoration: none;
}
.page{
    width: 90%;
    height: auto;
    margin: auto;
    padding:10px;
    padding-top: 30px;
}
.h-400{
    height: 400px;
}

.pb-20{
    padding-bottom: 20px;
}

.image-size{
    width: 100px;
    height: 100px;
}